/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: verdana, 'dejavu sans', sans-serif;
}

#hero {
    color: blue;
    font-size: 32px;
}

.odd.haha {
    font-size: 24px;
}

#zero {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}